<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QueueFlix</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/functions.js"></script>
    <link href="css/styles.css" rel="stylesheet" />
  </head>

  <div class="nav-wrapper">
    <nav class="navbar navbar-expand-sm" >
      <a class="navbar-brand" id="logo" href="/index"> QueueFlix </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/signIn">Home</a>
          <a class="nav-item nav-link" href="/registrationPage">Register</a>
          <a class="nav-item nav-link" href="/signIn">Admin</a>
          <!-- <a class="nav-item nav-link" href="/shoppingCart">Shopping Cart</a> -->
        </div>
      </div>
  </div>
  </nav>

