<%- include('partials/header.ejs') %>
    <body>
        
        <h1> Admins Only </h1>
        
        <button id="db-btn">Database table</button>
        
        <div id="db-results"></div>
        
        <br><br>
        
        
        <form id="admin-search-form">
            <input type="text" id="admin-search-text" placeholder="Search movie">
            <button id="admin-search-btn">Search</button>
        </form>
        <div id="admin-search-results"></div>

        <h2>Reports</h2>
        <hr>
        <div >
            <button id="admin-get-avg-price">Average Movie Price</button>
            <button id="admin-get-avg-rating">Average Movie Rating</button>
        </div>
        <hr>
        <div id="reportResults"></div>
        
    </body>
</html>