<%- include('partials/header.ejs') %>


    <body class="selection" page="index">
        <form id="search-form">
          <input
            type="text"
            id="search-text"
            placeholder="Search movie keyword"
            name="keyword"
            size="30"
          />
        </form>
        <div id="genre-box">
          Filter by Genre:
          <select id="filter-genre" name="genre"></select>
        </div>
        <div id="rating-box">
          Filter by Rating:
          <select id="filter-rating">
            <option value="">Select One</option>
            <option value="3">Above 3</option>
            <option value="5">Above 5</option>
            <option value="7">Above 7</option>
          </select>
        </div>
      </div>
    </div>

    <div id="search-warning"></div>

    <main>
      <hr />
      <div id="selected-movie-container">
        <!-- Display movie poster -->
        <div id="selected-image"></div>
        <div id="movie-detail">
          <p id="title"><span id="title-content"></span></p>
          <p id="synopsis">Synopsis: <span id="synopsis-content"></span></p>
          <p id="rating">TMDB Rating: <span id="rating-content"></span></p>
          <p id="genre">Genre: <span id="genre-content"></span></p>
          <p id="release">Release Date: <span id="release-content"></span></p>
          <button id="add-movie" class="btn btn-success">
            Add to the Cart
          </button>
        </div>
      </div>
      <div id="featured-header"></div>
      <div id="resultsContainer"></div>
    </main>
  </body>
  <script>
    featuredResults = <%- JSON.stringify(resultArray) %>;
    console.log(featuredResults);
  </script>
</html>
