<%- include('partials/header.ejs') %>
    <body>
        <div>
            <br><br>
            <h2> Login Page </h2>
        </div>
        
<%- include('partials/footer.ejs') %>

    </body>
</html>