<%- include('partials/header.ejs') %>
    <body>
    <h2>SHOPPING CART</h2>

    <% cart.forEach((item) => { %>
        <div class="card">
            <div class="card-body">
                <div class="title">
                  <img src="<%= item.image_url %>" alt="movie image">  
                </div>
                <div class="title">
                    <%= item.title %>
                </div>
            </div>
        </div>
   <% }); %>
    
    
        
<%- include('partials/footer.ejs') %>

    </body>
</html>