<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Sign In</title>
      <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/styles.css">
   </head>

   <!--Beginning of body-->
   <body class="home">
      <div id ="logo2">QueueFlix</div>
      <div id="sign-in-wrapper">
      <div id="home-signIn2">
         
         <form id="home-form" method="POST" action="/signIn">
            Sign In<br>
            <input type="text" name="username" placeholder="email">
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <button>Sign In</button>
         </form>

         <% if(typeof loginError != "undefined" && loginError) {%>
            <h3>Wrong Credentials</h3>
         <%}%>
            <br>
         <a href="/registrationPage">Create Account</a>
         </div>
         </body>
   </body>
</html>

