<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Screen</title>
        <style>
            .error {
                color: red; 
            }
        </style>
    </head>
    <body>
        
        <form method="POST" action="/signIn">
            Username: <input type="text" name="username">
            <br>
            Password: <input type="password" name="password">
            <br>
            <button>
                Login!
            </button>
        </form>
        <% if(typeof loginError != "undefined" && loginError) { %>
            <h3 class="error">Wrong credentials!</h3>
        
        <% } %>
    </body>
</html>